.header {
  color: #6c757d;
  font-size: 2.5em;
  font-weight: normal;
}
.list-group-item {
  font-size: larger;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.github-link {
  color: #333;
  margin-left: 10px;
}
.github-link:hover {
  color: #4078c0;
}
.list-group-item {
  font-size: x-large;
}
ol li {
  font-size: x-large;
}
h5 {
  font-size: xx-large;
}
footer {
  font-size: large;
}

@media (max-width: 576px) {
  .header {
    font-size: 1.5rem;
  }
}
